body {
background: #ffffff ;
  margin: 0;
  padding: 0;
}
#header {
position: relative;
overflow: auto;
height: auto;
text-align: center;
color: #000;
font-size: 300%;
background-color: default;
}

/* Picture Styling */
#mainlogo {
position: relative;
height: 100px;
margin-top: 0px;

}

@media screen and (max-width: 1100px) {
      #mainlogo {
            display: none;
      }
}

.footerimg {
    opacity: 0.6;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
    
    width: 20px;
    height: 20px;
}

.footerimg:hover {
    opacity: 1.0;
    transition: opacity .0s ease-in-out;
    -moz-transition: opacity .0s ease-in-out;
    -webkit-transition: opacity .0s ease-in-out;
    
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}






#content p {
color: #a0a0a0;
margin: 10px;
margin-top: 20px;
margin-bottom: 20px;
font-size: 0.9em;
line-spacing: 0.3em;
}

a {
color: #96B766;
text-decoration: none;}

a:hover {
color: #f26f29;
text-decoration: underline;}

.date {
color: #000;
margin-left: 40px;
margin-top: 5px;
text-decoration: lowercase;
font-size: 0.8em;}

.date a{
color: #000;}

.date a:hover{
color: #000;
text-decoration: underline;}



#footer{
clear: both;
padding-top:10px;
padding-bottom: 10px;
margin-bottom: 20px;
font-size: 0.7em;
height: 20px;
color: #b0b0b0;
text-align: center;
}

.li_floatleft{ 
	display:inline-block; 
	width:70px; 
	margin-bottom: 10px;
	padding-right:-20px; 
} 



 
.nav ul {
  list-style: none;
  background-color: #000000;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  /* Fallback for web browsers that doesn't support RGBa */
    background-color: rgb(255, 255, 255) opacity: 0.95;
    				   filter: alpha(opacity=95);;
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.95);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF)";
  color: #000000;
}
 
.nav a.active {
  background-color: #444;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
