body {
background: #fff url(/images/backg.jpg) ;
font-family: 'Helvetica', 'Arial', 'Sans-Serif'S;
font-size: 80%;
color: #b0b0b0;}

*{
margin: 0px;
padding: 0px;}

#sitebox { 
max-width: 780px;
height: 100%;
margin: 0 auto;
margin-top: 10px;
background: #f4f4f4;
color: #000;
border: 0px solid #c0c0c0;}


#header {
background: #f4f4f4 url(/images/headgradient.png) repeat-x;
max-width: 780px;
height: 60px;}

#header h1 {
text-align: center;
background: inherit;
margin-left: 10px;
color: #000;
font-weight: normal;
font-family: cursive;
font-size: 4em;
}

#header .subtitle {
float: right;
color: #d0d0d0;
font-size: 0.93em;
margin-top: 15px;
margin-right: 30px;
text-transform: lowercase;
font-family: 'Helvetica', 'Arial', 'Sans-Serif';
margin-left: 250px;}

#header .subtitle span:hover {
color: #000;
background: #f4f4f4;}


#navigation {
clear: none;
text-align: center;
margin-top: 8px;
height: 20px;
background: #f4f4f4;}

#navigation a {
font-family: 'Helvetica', 'Arial', 'Sans-Serif';
margin-left: 40px;
padding-right: 40px;
background: #f4f4f4;
text-transform: lowercase;
color: #a0a0a0;
font-size: 1.1em;
text-decoration: none;
letter-spacing: 0.1em;}

#navigation a:hover {
color: #F26F29;}


#picture {
max-width: 780px;
margin-top: 10px;
height: 150px;
background: #000;}

#picture .sorry{
color: #fff;
margin: 10px;
font-size: 0.8em;
text-align: center;
background: inherit;
margin-left: 5px;}

#picture .sorry a{
color: #fff;
text-decoration: underline;}




#lcontent h2	   {
margin: 5px;
margin-top: 110px;
color: #134B6E;
max-width: 770px;
text-transform: uppercase;
font-family: 'Helvetica', 'Arial', 'Sans-Serif';
font-size: 19px;
background: #f4f4f4 url(/images/h1bg.png) repeat-x bottom;}

#lcontent p {
color: #a0a0a0;
font-family: verdana;
margin: 10px;
margin-top: 20px;
margin-bottom: 0px;
font-size: 0.9em;
line-spacing: 0.3em;


}

a {
color: #96B766;
text-decoration: none;}

a:hover {
color: #f26f29;
text-decoration: underline;}

.date {
color: #000;
margin-left: 40px;
margin-top: 5px;
text-decoration: lowercase;
font-size: 0.8em;}

.date a{
color: #000;}

.date a:hover{
color: #000;
text-decoration: underline;}



#footer{
clear: both;
padding-top:200px;
margin: 0 auto;
max-width: 780px;
font-size: 0.7em;
background: #f4f4f4 url(/images/h1bg.png) repeat-x bottom;
height: 20px;
color: #b0b0b0;
text-align: center;
border: 0px solid #c0c0c0;}


.li_floatleft{ 
	display:inline-block; 
	width:70px; 
	margin-right:-20px; 
} 



.content {
  max-width: 780px;
  margin: 1em auto;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  article img {
    float: right;
    width: 50%;
  }





.pagebottomlinks{ 
	padding-top:20px;
	padding-bottom:20px;  
} 

.BottomMenu{display:inline;left:auto;right:auto;}
.pagebottomlinks a{text-align:left;padding:16px 7px 9px 7px;border:1px solid rgba(255,255,255, 0);font-size:14px !important; margin:5px 2px 2px 2px;position:relative;color:#000;  border-radius:3px;  text-decoration:none; line-height:36px;}
.pagebottomlinks a > img{padding:5px 6px 0px 5px; margin-top:2px;}

.img_right{display:inline;position:absolute;top:-45px;right:60px;}
#menu li:hover .align_right{left:auto;right:-1px;top:auto;}
#menu p, #menu h2, #menu h3, #menu ul li{font-family:Arial, Helvetica, sans-serif;line-height:21px;font-size:13px !important;text-align:left;text-shadow:1px 1px 1px #FFFFFF;}
#menu h2{font-size:21px;font-weight:400;letter-spacing:-1px;margin:7px 0 14px 0;padding-bottom:14px;border-bottom:1px solid #666666;}
#menu h3 a{font-size:12px;margin:7px 0 14px 0;padding-bottom:7px;border-bottom:1px solid #888888;font-weight:bold;}
#menu h4 a{font-size:12px;margin:4px 65px 4px 0;padding-bottom:4px;border-bottom:1px solid #888888;font-weight:bold;}
#menu p{margin:0 0 10px 0;line-height:18px;}
#menu li:hover div a{color:#000000;}
#menu li:hover div a:hover{color:#cc6633;}
.strong{font-weight:bold;}
.italic{font-style:italic;}
.imgshadow{background:#FFFFFF;padding:4px;border:0px solid #777777;margin-top:5px;-moz-box-shadow:1px 1px 5px #666666;-webkit-box-shadow:1px 1px 5px #666666;box-shadow:1px 1px 5px #666666;}
.img_left{width:auto;float:left;margin:5px 15px 5px 5px;}
#menu li .black_box{background-color:#333333;color:#eeeeee;text-shadow:1px 1px 1px #000;padding:4px 6px 4px 6px;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;-webkit-box-shadow:inset 1px 1px 3px #000000;-moz-box-shadow:inset 1px 1px 3px #000000;box-shadow:inset 1px 1px 3px #000000;}
#menu li ul{list-style:none;padding:0;margin:0 0 12px 0;}
#menu li ul li{font-size:12px;line-height:24px;position:relative;text-shadow:1px 1px 1px #ffffff;padding:0;margin:0;float:none;text-align:left;width:130px;}
#menu li ul li:hover{background:none;border:none;padding:0;margin:0;}
#menu li .greybox li{background:#F4F4F4;border:0px solid #bbbbbb;margin:0px 0px 4px 0px;padding:4px 6px 4px 6px;width:116px;-moz-border-radius:0px;-webkit-border-radius:0px;-khtml-border-radius:0px;border-radius:0px;}
#menu li .greybox li:hover{background:#ffffff;border:0px solid #aaaaaa;padding:4px 6px 4px 6px;margin:0px 0px 4px 0px;}
.topmenu{}
.topmenu .topboxes{padding-left:6px;padding-right:5px;font-family:Arial, Helvetica, sans-serif;font-size:11px;position:relative;top:8px;right:-15px;background:#ffffff;border:0px solid #aaaaaa;}
