body {
background: #fff url(/images/backgrounds/brick6.jpg) ;
font-family: 'Helvetica', 'Arial', 'Sans-Serif'S;
font-size: 80%;
color: #b0b0b0;}

*{
margin: 0px;
padding: 0px;}

#sitebox { 
max-width: 780px;
height: 100%;
margin: 0 auto;
margin-top: 10px;
background:     /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
color: #000;
border: 0px solid #c0c0c0;}


#header {
background:     /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)" url(/images/headgradient.png) repeat-x;
max-width: 780px;
height: 60px;}

#header h1 {
text-align: center;
background: inherit;
margin-left: 10px;
color: #000;
font-weight: normal;
font-family: cursive;
font-size: 4em;
}

#header .subtitle {
float: right;
color: #d0d0d0;
font-size: 0.93em;
margin-top: 15px;
margin-right: 30px;
text-transform: lowercase;
font-family: 'Helvetica', 'Arial', 'Sans-Serif';
margin-left: 250px;}

#header .subtitle span:hover {
color: #000;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}


#navigation {
clear: none;
text-align: center;
margin-top: 8px;
height: 20px;
background:     /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}

#navigation a {
font-family: 'Helvetica', 'Arial', 'Sans-Serif';
margin-left: 40px;
padding-right: 40px;
background:     /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
text-transform: lowercase;
color: #a0a0a0;
font-size: 1.1em;
text-decoration: none;
letter-spacing: 0.1em;}

#navigation a:hover {
color: #F26F29;}


#picture {
max-width: 780px;
margin-top: 10px;
height: 150px;
background: #000;}

#picture .sorry{
color: #fff;
margin: 10px;
font-size: 0.8em;
text-align: center;
background: inherit;
margin-left: 5px;}

#picture .sorry a{
color: #fff;
text-decoration: underline;}




#lcontent h2	   {
margin: 5px;
margin-top: 110px;
color: #134B6E;
max-width: 770px;
text-transform: uppercase;
font-family: 'Helvetica', 'Arial', 'Sans-Serif';
font-size: 19px;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)" url(/images/h1bg.png) repeat-x bottom;}

#lcontent p {
color: #a0a0a0;
font-family: verdana;
margin: 10px;
margin-top: 20px;
margin-bottom: 0px;
font-size: 0.9em;
line-spacing: 0.3em;


}

a {
color: #96B766;
text-decoration: none;}

a:hover {
color: #f26f29;
text-decoration: underline;}

.date {
color: #000;
margin-left: 40px;
margin-top: 5px;
text-decoration: lowercase;
font-size: 0.8em;}

.date a{
color: #000;}

.date a:hover{
color: #000;
text-decoration: underline;}



#footer{
clear: both;
padding-top:50px;
padding-bottom: 10px;
max-width: 780px;
margin: 0px auto;
font-size: 0.7em;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)" url(/images/h1bg.png) repeat-x bottom;
height: 20px;
color: #b0b0b0;
text-align: center;
border: 0px solid #c0c0c0;}






.li_floatleft{ 
	display:inline-block; 
	width:70px; 
	margin-bottom: 10px;
	margin-right:-20px; 
} 



.content {
  max-width: 780px;
  margin: 1em auto;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  article img {
    float: right;
    width: 50%;
  }
/* THIS IS REGARDING TURNING THE BACKGROUND OF THE SITEBOX TRANSPARENT. WORK ON THIS. GET IT TO WORK. */
.alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
