header { height:80px; width:100%; background:#fff; overflow:hidden; 
}
.main-name { text-align:center;  text-transform:uppercase; font-weight:800; font-size:1.3em; letter-spacing:0.1em; height:40px; line-height:40px; width:200px; margin:auto; height:40px; 
}
.main-name a { padding:20px; color:#000; 
}
.main-name a:hover { color:#e6af61; 
}
