<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="https://github.com/jacksoncwilliams/jacksoncwilliams.github.io/blob/master/favicon.ico" type="image/x-icon">
			<link rel="icon" href="https://github.com/jacksoncwilliams/jacksoncwilliams.github.io/blob/master/favicon.ico" type="image/x-icon">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/résumé">Résumé</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jcw1395@gmail.com">Email</a></li>
	        		<li><a href="https://linkedin.com/in/jacksoncwilliams">LinkedIn</a></li>
	        		<li><a href="https://twitter.come/jaxoncwilliams">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
