<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="This website is the home of Jackson C. Williams's online resumé">
  <meta name="author" content="Jackson C. Williams">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/layout.css">
  

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/myfavicon-152.png">
  
  <!-- Begin Website
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
</head>
<body>
<div class="container">
<!--Header-->
  <div id="header" class="twelve columns"> 
   Jackson C. Williams
        <div id="mainlogo">
        	  <img src="/images/logowithcartransparent.png" max-width="780px" min-width="700px" height="93px" align="center"> 
        </div>
        </div>
    <!--Navigation-->
      <div class="nav twelve columns"> 
        <ul>
            <li><a href="fleektryout.html">Home</a></li>
            <li><a href="aboutme.html">About Me</a></li>
            <li><a href="résumé.html">Résumé</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul> 
        </div>
      
   

{{ content }}
  
  <div id="footer" class="twelve columns"> <li class="li_floatleft"><a href="https://plus.google.com/+JacksonWilliamsProfile/" target="_blank" title="Google Plus"><img class="footerimg" src="/images/footer/GPlus.png" alt="Google Plus"> </a> </li>
                    <li class="li_floatleft"><a href="https://twitter.com/jaxoncwilliams" target="_blank" title="Twitter"><img class="footerimg" src="/images/footer/Twitter.png" alt="Twitter"> </a> </li>
                    <li class="li_floatleft"><a href="https://github.com/jacksoncwilliams" target="_blank" title="Github Profile"><img class="footerimg" src="/images/footer/github.png" alt="Github Profile"> </a> </li>
                    <li class="li_floatleft"><a href="https://www.linkedin.com/in/jacksoncwilliams" target="_blank" title="LinkedIn"><img class="footerimg" src="/images/footer/LinkedIn.png" alt="LinkedIn"> </a> </li>
 </div>
</div>

</body>
</html>
