<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/myfavicon-152.png">
  
  <!-- Begin Website -------------------------------------------------- -->
  
</head>
<body>
<div class="container">
<!--Header-->
  <div id="header" class="one column"> 
   Jackson C. Williams
</div>
<!--Navigation-->
  <div id="navigation" class="one column"> 
  
    <a href="/" title="Home">&rsaquo; Home</a>
    <a href="/aboutme" title="About Me">&rsaquo; About Me</a>
    <a href="/résumé" title="Résumé">&rsaquo; Résumé</a>
    <a href="/contact" title="Contact">&rsaquo; Contact</a>
    </a><br />
   </div>
   <div id="mainlogo">
    	<img src="/images/logogreywithmantransparent.png" max-width="780" height="100"> 
    </div>

{{ content }}
  
  <div id="footer" class="one column"> <li class="li_floatleft"><a href="https://plus.google.com/+JacksonWilliamsProfile/" target="_blank" title="Google Plus"><img class="footerimg" src="/images/footer/GPlus.png" alt="Google Plus"> </a> </li>
                    <li class="li_floatleft"><a href="https://twitter.com/jaxoncwilliams" target="_blank" title="Twitter"><img class="footerimg" src="/images/footer/Twitter.png" alt="Twitter"> </a> </li>
                    <li class="li_floatleft"><a href="https://github.com/jacksoncwilliams" target="_blank" title="Github Profile"><img class="footerimg" src="/images/footer/github.png" alt="Github Profile"> </a> </li>
                    <li class="li_floatleft"><a href="https://www.linkedin.com/in/jacksoncwilliams" target="_blank" title="LinkedIn"><img class="footerimg" src="/images/footer/LinkedIn.png" alt="LinkedIn"> </a> </li>
 </div>


</body>
</html>
