<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="This website is the home of Jackson C. Williams's online resumé">
  <meta name="author" content="Jackson C. Williams">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href="https://cdn.ncsu.edu/brand-assets/fonts/include.css" rel="stylesheet" type="text/css" />

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/simple.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/myfavicon-152.png">
  
  <!-- Google Analytics
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56429800-1', 'auto');
  ga('send', 'pageview');

</script>
  
  <!-- Begin Website
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
</head>

<body>
  <!--Header-->
   <header>
    		<div id="name">
    			<h1 class="main-name"><a href="http://www.jacksoncwilliams.com">Jackson C. Williams</a></h1>
    		</div>
   </header>


{{ content }}

  
  <div id="footer" class="twelve columns">
    <p> &copy 2015 Jackson C. Williams All Rights Reserved</p>
  </div>

</body>
</html>
