
<!DOCTYPE html>
<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen, print, projection" />
			<link rel="shortcut icon" href="/myfavicon.ico" type="image/x-icon">
			<link rel="icon" href="/myfavicon.ico" type="image/x-icon">
			<link rel="apple-touch-icon-precomposed" href="myfavicon-152.png">
			
		
	<!-- For iPhone 4 -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png"> -->
	<!-- For iPad 1-->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png"> -->
	<!-- For the new iPad -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/h/apple-touch-icon-144x144-precomposed.png"> -->
	<!-- For iPhone 3G, iPod Touch and Android -->
	<!-- <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png"> -->
	<!-- For Nokia -->
	<!-- <link rel="shortcut icon" href="img/l/apple-touch-icon.png"> -->
	<!-- For everything else -->
	<link rel="shortcut icon" href="/myfavicon.ico">

	<!--iOS -->
	<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
	<!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
	<!-- <link rel="apple-touch-startup-image" href="img/splash.png"> -->

	<!-- <script>(function(){var p,l,r=window.devicePixelRatio;if(navigator.platform==="iPad"){p=r===2?"img/startup/startup-tablet-portrait-retina.png":"img/startup/startup-tablet-portrait.png";l=r===2?"img/startup/startup-tablet-landscape-retina.png":"img/startup/startup-tablet-landscape.png";document.write('<link rel="apple-touch-startup-image" href="'+l+'" media="screen and (orientation: landscape)"/><link rel="apple-touch-startup-image" href="'+p+'" media="screen and (orientation: portrait)"/>');}else{p=r===2?"img/startup/startup-retina.png":"img/startup/startup.png";document.write('<link rel="apple-touch-startup-image" href="'+p+'"/>');}})()</script> -->
	<!--Microsoft -->

	<!-- Prevents links from opening in mobile Safari -->
	<!-- <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script> -->
	<meta http-equiv="cleartype" content="on">
	</head>


<body>
<div id="sitebox">
<!--Header-->
  <div id="header"> 
    <h1>Jackson C. Williams</h1>
    <div class="subtitle"> <span>Welcome to my personal website</span></div>
</div>
<!--Navigation-->
  <div id="navigation"> 
    <a href="#" title="Home">&rsaquo; Home</a> <a href="#" title="read more about me or contact me">&rsaquo; 
    </a><a href="#" title="About">About</a><a href="#" title="read more about me or contact me"> 
    </a><a href="#" title="Contact">&rsaquo; </a><a href="#" title="read more about me or contact me">Contact 
    </a><br />
    <img src="topimage.jpg" width="780" height="195" /> </div>

	<div>
			
	{{ content }}
			
	</div>


  <div id="footer"> Great Slogan Goes Here, Great Slogan Goes Here, </div>


</body>
</html>
