
<!DOCTYPE html>
<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen, print, projection" />
			<link rel="shortcut icon" href="/images/myfavicon.ico" type="image/x-icon">
			<link rel="icon" href="/images/myfavicon.ico" type="image/x-icon">
			<link rel="apple-touch-icon-precomposed" href="/images/myfavicon-152.png">
			
		
	<!-- For iPhone 4 -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png"> -->
	<!-- For iPad 1-->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png"> -->
	<!-- For the new iPad -->
	<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/h/apple-touch-icon-144x144-precomposed.png"> -->
	<!-- For iPhone 3G, iPod Touch and Android -->
	<!-- <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png"> -->
	<!-- For Nokia -->
	<!-- <link rel="shortcut icon" href="img/l/apple-touch-icon.png"> -->
	<!-- For everything else -->
	<link rel="shortcut icon" href="/images/myfavicon.ico">

	<!--iOS -->
	<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
	<!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
	<!-- <link rel="apple-touch-startup-image" href="img/splash.png"> -->

	<!-- <script>(function(){var p,l,r=window.devicePixelRatio;if(navigator.platform==="iPad"){p=r===2?"img/startup/startup-tablet-portrait-retina.png":"img/startup/startup-tablet-portrait.png";l=r===2?"img/startup/startup-tablet-landscape-retina.png":"img/startup/startup-tablet-landscape.png";document.write('<link rel="apple-touch-startup-image" href="'+l+'" media="screen and (orientation: landscape)"/><link rel="apple-touch-startup-image" href="'+p+'" media="screen and (orientation: portrait)"/>');}else{p=r===2?"img/startup/startup-retina.png":"img/startup/startup.png";document.write('<link rel="apple-touch-startup-image" href="'+p+'"/>');}})()</script> -->
	<!--Microsoft -->

	<!-- Prevents links from opening in mobile Safari -->
	<!-- <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script> -->
	<meta http-equiv="cleartype" content="on">
	</head>


<body>
<div id="sitebox">
<!--Header-->
  <div id="header"> 
    <h1>Jackson C. Williams</h1>
</div>
<!--Navigation-->
  <div id="navigation"> 
  
    <a href="/" title="Home">&rsaquo; Home</a>
    <a href="/aboutme" title="About Me">&rsaquo; About Me</a>
    <a href="/résumé" title="Résumé">&rsaquo; Résumé</a>
    <a href="/contact" title="Contact">&rsaquo; Contact</a>
    </a><br />
   
    	<img src="/images/logogreywithmantransparent.png" max-width="780" height="100"> 
    </div>

{{ content }}
  
  <div id="footer"> <li class="li_floatleft"><a href="https://plus.google.com/105060364110194902966/" title="Google Plus"><img src="/images/footer/GPlus.png" width="20" height="20" alt="Google Plus"> </a> </li>
                      <li class="li_floatleft"><a href="https://twitter.com/jaxoncwilliams" title="Twitter"><img src="/images/footer/Twitter.png" width="20" height="20" alt="Twitter"> </a> </li>
                      <li class="li_floatleft"><a href="https://github.com/jacksoncwilliams" title="Github Profile"><img src="/images/footer/github.png" width="20" height="20" alt="Github Profile"> </a> </li>
                      
                      <li class="li_floatleft"><a href="https://www.linkedin.com/in/jacksoncwilliams" title="LinkedIn"><img src="/images/footer/LinkedIn.png" width="20" height="20" alt="LinkedIn"> </a> </li>
 </div>


</body>
</html>
