<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/unavailable.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jacksonwilliams13@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jacksoncwilliams">github.com/jacksoncwilliams</a></li>
				</ul>
			</footer>
		</body>
	</html>
	</body>
</html>
